<div class="container-fluid principal-container text-center">
    <div class="row">
        <div class="col-md-12">
            <img src="https://via.placeholder.com/150" class="rounded-circle center-image" alt="">
        </div>
        <div class="col-md-12 box-h3">
            <div class="row">
                <div class="col-md-3">
                    <h3>Text A</h3>
                </div>
                <div class="col-md-3">
                    <h3>Text B</h3>
                </div>
                <div class="col-md-3">
                    <h3>Text C</h3>
                </div>
                <div class="col-md-3">
                    <h3>Text D</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-exchange-rates></app-exchange-rates>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Text Header 3</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
        </div>
        <div class="col-md-3">
            <h3>Text Header 3</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
        </div>
        <div class="col-md-3">
            <h3>Text Header 3</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
        </div>
        <div class="col-md-3">
            <h3>Text Header 3</h3>
            <div class="d-flex justify-content-around">
                <div><img src="https://via.placeholder.com/120" alt=""></div>
                <div><img src="https://via.placeholder.com/120" alt=""></div>
                <div><img src="https://via.placeholder.com/120" alt=""></div>
            </div>

        </div>
    </div>

</footer>
